mixin slide(title, description, img)
    li.carousel-list__item
        div.carousel-list__data
            h3.carousel-list__title!=title
            p.carousel-list__description!=description
            a.carousel-list__button(href="#") Заказать доставку
        div.carousel-list__img
            img(src="/img/index/" + img)

div.carousel
    ul.carousel-dots
    div.carousel__container
        ul.carousel-list
            +slide('Срочная доставка</br>день в день', 'Для тех, кто не может ждать у нас есть услуга срочной курьерской </br>доставки корреспондеции и других видов отправлений.', 's1.png')
            +slide('Подписание</br>договора за 1 час', 'В течение часа наш курьер заберет вашу посылку и подпишет с Вами </br>договор о предоставлении услуг', 's2.png')

script(type='text/javascript').

    function initCarousel(){

        let slides = document.querySelectorAll('.carousel-list__item'),
            firstSlide = slides[0],
            cloneLast = slides[slides.length - 1].cloneNode(true);

        document.querySelector(".carousel-list").insertBefore(cloneLast, firstSlide);

        document.querySelectorAll('.carousel-list__item').forEach((el, i) => {
            if(i === 1) el.classList.add("carousel-list__item--active");

            el.dataset.id = i;
            el.style.left = (i - 1) * document.querySelector(".carousel").clientWidth + "px";
        });

        initDots();
    }

    function initDots() {
        document.querySelectorAll('.carousel-dots__item').forEach((el) => el.remove());
        let slidesCount = document.querySelectorAll('.carousel-list__item').length;
        for (let i = 1; i <= slidesCount - 1; i++) {
            let newDot = document.createElement("div");
            newDot.classList.add("carousel-dots__item");
            newDot.dataset.slideId = i;
            if (i === 1) newDot.classList.add("carousel-dots__item--active");

            newDot.addEventListener("click", (e) => {
                slideCarousel(i, true);
            });

            document.querySelector(".carousel-dots").appendChild(newDot);
        }
    }

    function slideCarousel(slideId, isUserInteraction) {

        document.querySelectorAll(".carousel-dots__item").forEach((el) => el.classList.remove("carousel-dots__item--active"));

        document.querySelectorAll(".carousel-list .carousel-list__item").forEach((el) => {
            let newLeft = Math.abs(el.dataset.id - slideId) * document.querySelector(".carousel").clientWidth + "px";

            if (el.dataset.id < slideId) {
                newLeft = "-" + newLeft;
            }
            el.style.left = newLeft;
        });

        if (slideId === (document.querySelectorAll(".carousel-list .carousel-list__item").length - 1) && !isUserInteraction ) {
            setTimeout(function() {
                document.querySelectorAll(".carousel-list .carousel-list__item").forEach((el) => el.classList.add("no-transition"));
                slideCarousel(0);
            }, 300);
        }

        if (slideId === 0 && !isUserInteraction)
            setTimeout(function () {
                document.querySelectorAll(".carousel-list .carousel-list__item").forEach((el) => el.classList.remove("no-transition"));
            }, 10)

        document.querySelectorAll(".carousel-list__item").forEach((el) => el.classList.remove("carousel-list__item--active"));

        document.querySelector(`.carousel-list .carousel-list__item[data-id="${slideId}"]`).style.left = 0;
        document.querySelector(`.carousel-list .carousel-list__item[data-id="${slideId}"]`).classList.add("carousel-list__item--active");

        if( slideId === 0 )
            document.querySelector(`[data-slide-id="${document.querySelector(".carousel-list .carousel-list__item:last-child").dataset.id}"]`).classList.add("carousel-dots__item--active");
        else
            document.querySelector(`[data-slide-id="${slideId}"]`).classList.add("carousel-dots__item--active");
    }

    let intervalSlideId = 2;
    setInterval(function () {

        if (intervalSlideId > document.querySelectorAll('.carousel-dots__item').length)
            intervalSlideId = 1;
        slideCarousel(intervalSlideId);
        intervalSlideId++;

    }, 5000);

    document.addEventListener('DOMContentLoaded', () => initCarousel());
    window.addEventListener('resize', () => {
        initDots();
    });
